body{
background:#e5e5ff;
color: #141823;;
}
.header{
position :absolute;
width:100%;
height:100px;
background :#3b5998;
top :0;
left:0;
color:#8b9dc3;
font-family:verdana;
font-size: 12px;
}
#img1{
left:100px;
height:50px;
width:110px;
top:25px;
}
#userName{
left:700px;
top:20px;
height:60px;
width:180px;
}
#pass{
left:895px;
top:20px;
height:60px;
width:200px;
}
.submit1{
left:1090px;
top:35px;
background:#8b9dc3;
color:white;
position:absolute;
z-index:20px;
height:22px;
width:50px;
border:0;
cursor:pointer;
}
.bodyx{
position:absolute;
left:0;
top:100px;
width:100%;
height:500px;
font-size: 28px;
line-height: 36px;
}
#information1{
top:40px;
left:40px;
font-family:verdana;
font-size:30px;
width:550px;
height:75px;
}
#information2{
top:40px;
left:700px;
font-family:verdana;
font-size:50px;
width:500px;
height:60px;
}
#information3{
top:100px;
left:700px;
font-family:verdana;
font-size:20px;
height:50px;
width:300px;
}
#img2{
top:160px;
left:100px;
}
#img3{
top:240px;
left:100px;
}
#img4{
top:320px;
left:100px;
}

#form1{
top:150px;
left:700px;
font-family:verdana;
font-size:20px;
height:495px;
width:450px;
}
#f_name,#l_name{
height:40px;
width:200px;
padding:10px;
margin:5px;
font-size:15px;
border-radius:5px/5px;
background:white;
}
#mailbox{
height:40px;
width:415px;
padding:10px ;
margin:5px;
font-size:15px;
border-radius:5px/5px;
background:white;
}
.button2{
height:50px;
width:200px;
left:700px;
top:650px;
position:absolute;
color:white;
padding:10px;
font-size:20px;
border-radius:5px/5px;
cursor:pointer;
outline:none;
background:green;
}
.down{
position:absolute;
height:100px;
width:100%;
left:0;
top:800px;
background:white;
}
#lang{
height:100px;
width:100%;
left:100px;
right:700px;
top:50px;
}
a {
text-decoration: none;
color:#8b9dc3;
}
a:hover {
    text-decoration: underline;
}